<ul class="alert alert-danger" *ngIf="errores?.length > 0">
  <li *ngFor="let err of errores">
    {{ err }}
  </li>
</ul>

<div class="card bg-dark text-white">
  <div class="card-header">{{ titulo }}</div>
  <div class="card-body">

    <form #clienteForm="ngForm">
      <div class="form-group row">
        <label for="nombre" class="col-form-label col-sm-2">Nombre</label>
        <div class="col-sm-6">
          <input type="text" class="form-control" [(ngModel)]="cliente.nombre" name="nombre" #nombre="ngModel"> <!-- required minlength="4" -->
          <div class="alert alert-danger" *ngIf="nombre.invalid && (nombre.dirty || nombre.touched)">
            <div *ngIf="nombre.errors.required">
              Nombre es requerido
            </div>
            <div *ngIf="nombre.errors.minlength">
              Nombre debe tener al menos 4 caracteres
            </div>
          </div>
        </div>
      </div>

      <div class="form-group row">
        <label for="marca" class="col-form-label col-sm-2">marca</label>
        <div class="col-sm-6">
          <input type="text" class="form-control" [(ngModel)]="cliente.marca" name="marca" #marca="ngModel"> <!-- required -->
          <div class="alert alert-danger" *ngIf="marca.invalid && (marca.dirty || marca.touched)">
            <div *ngIf="marca.errors.required">
              marca es requerido
            </div>
          </div>
        </div>
      </div>

      <div class="form-group row">
        <label for="cantidad" class="col-form-label col-sm-2">cantidad</label>
        <div class="col-sm-6">
          <input type="cantidad" class="form-control" [(ngModel)]="cliente.cantidad" name="cantidad" #cantidad="ngModel"> <!-- required cantidad -->
          <div class="alert alert-danger" *ngIf="cantidad.invalid && (cantidad.dirty || cantidad.touched)">
            <div *ngIf="cantidad.errors.required">
              cantidad es requerido
            </div>
            <div *ngIf="cantidad.errors.cantidad">
              cantidad debe tener un formato válido
            </div>
          </div>
        </div>
      </div>

      <div class="form-group row">
        <label for="createAt" class="col-form-label col-sm-2">Fecha</label>
        <div class="col-sm-6">
          <input [matDatepicker]="miDatepicker" class="form-control" [(ngModel)]="cliente.createAt" name="createAt" style="display:inline; width:300px;">
          <mat-datepicker-toggle [for]="miDatepicker"></mat-datepicker-toggle>
          <mat-datepicker #miDatepicker></mat-datepicker>
        </div>
      </div>

      <div class="form-group row">
        <label for="proveedor" class="col-form-label col-sm-2">Región</label>
        <div class="col-sm-6">
          <select [compareWith]="compararProveedor" class="form-control" [(ngModel)]="cliente.proveedor" name="proveedor" style="width:500px;">
            <option [ngValue]="undefined">--- selecionar una región ---</option>
            <option *ngFor="let proveedor of proveedores" [ngValue]="proveedor">{{proveedor.nombre}}</option>
          </select>
        </div>
      </div>

      <div class="form-group row">
        <div class="col-sm-6">
          <button class="btn btn-primary" role="button" (click)='create()' *ngIf="!cliente.id else elseBlock" [disabled]="!clienteForm.form.valid">Crear</button>

          <ng-template #elseBlock>
            <button class="btn btn-primary" role="button" (click)='update()' [disabled]="!clienteForm.form.valid">Editar</button>
          </ng-template>
        </div>
      </div>
    </form>

  </div>
</div>
